body {
background: pink; 
margin: 0px auto;
text-align: center; }

header {
text-shadow: 10px 5px 5px #888; }

select {
font-size: 15pt; }

.box {
display: none;
border-radius: 20px;
background: lightgrey; 
box-shadow: 5px 5px 5px #888; 
text-align: left;
margin: 10px auto;
padding: 10px;
width: 200px; 
height: 200px;}

.caution {
display: none;
margin: 10px auto;
width: 200px; 
height: 25px;
border-radius: 20px;
border: 2px solid red;
padding: 10px; }

img {
width: 20px; 
height: 20px; }